<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>WanderLust</h1>
     
    <div class="container"> 
     <%- body %> 
    </div>
    <!-- If boilerplate is same for each page, then the content of each page would be the same. 
    So to change the content, we write this line in our code: 
        <% layout('boilerplate') -%>     
    we can use layout in any ejs template.
    Except body tag, remove everything from the index.ejs file. -->

</body>
</html>