<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
<h3>All listings</h3>

<!-- // Create : New & Create Route 
//GET     /listings/new   =>  Form -> Submit  
//POST    /listings    -->
<form action="/listings/new" method="GET">
    <button>Create New Listing</button>
</form>
<!-- //Index Route 
//GET     /listings   =>  returns all list  -->
<ul>
    <% for(let listing of allListings) { %> 
        <li><a href="/listings/<%= listing._id%>"><%= listing.title %></a></li>
    <% } %>
</ul>
</body>
</html>